.title {
  font-size: 3em;
  color: #663399;
}

.navigation {
  position: relative;
}
.navigation ul {
  border-left: 1px solid #dedede;
  list-style-type: none;
  position: fixed;
}
.navigation ul li {
  font-size: 0.875em;
  padding: 5px 0;
  padding-left: 20px;
  color: #606060;
}
.navigation ul li:hover {
  cursor: pointer;
  color: #663399;
  font-weight: bold;
}
.innercontent {
  margin-top: 24px;
  font-size: 1.125em;
  line-height: 1.5;
  padding-right: 10%;
}

@media screen and (max-width: 800px) {
  .navigation {
    display: none;
  }
  .innercontent {
    padding-right: 0;
  }
}
